:host {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-card { padding: 40px; }
.intro-card-text {
	text-align: justify;
	line-height: 30px;
}
.intro-card-actions {
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro-card-actions button:hover {
	background: #2196f3;
	color: white;
}
@media only screen and (min-width: 668px){
	.intro-card {
		width: 50%;
	}
}