.vote {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 15%;

	.vote-intro {
		text-align: justify;
		padding: 15px 30px;
	}

	.vote-question {
		text-align: center;
		color: darkblue;
	}

	.options-list {
		list-style: none;

		.options-list-item {
			margin-bottom: 20px;
		}

		.option-button {
			background: white;
			padding: 15px 30px;
			font-size: 14px;
			width: 100%;
			cursor: pointer;

			&.selected {
				background: lightslategray;
				color: white;
				font-weight: bold;
			}

			&:hover {
				background: #CCCCCC;
				color: white;
			}
		}
	}
}

.vote.with-background {
	position: relative;

	&::after {
		content: '';
		background: url('assets/brexit-bg.jpg') no-repeat;
		background-size: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		opacity: 0.1;
		z-index: -1;
	}
}