.vote {

	display: flex;
	justify-content: center;
	align-items: center;

	.options-list {
		list-style: none;

		.options-list-item {
			margin-bottom: 20px;
		}

		.option-button {
			padding: 15px 30px;
			font-size: 14px;

			&.selected {
				background: lightblue;
			}
		}
	}
}