:host {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vote-button-group {
	display: flex;
	flex-direction: column;
}

.vote-button-group button {
	margin: 10px 0;
}

@media only screen and (min-width: 668px){
	.vote-card {
		width: 50%;
	}
}